
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  width: 100vw;
  height: 100vh;

  --text-color-one: rgb(184, 184, 184);
  --text-color-two: #6d80ec;
  --text-color-three: rgb(0, 0, 0);
  --background-color-one: rgb(43, 48, 54);
  --background-color-two: rgb(25, 26, 31);
  --background-color-three: rgb(32, 33, 37);
  --highlight-color-one: #8c97d3;
  --highlight-color-two: salmon;
  --highlight-color-three: rgb(124, 202, 124);
}

body {
  width: 90%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding: 5%;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  background: var(--background-color-one);
  color: var(--text-color-one);
}

.highlight {
  color: var(--highlight-color-one);
}

.p-sm {
  padding: 5px;
}

.p-md {
  padding: 10px;
}

.p-lg {
  padding: 20px;
}

.m-no {
  margin: 0;
}

.m-sm {
  margin: 5px;
}

.m-md {
  margin: 10px;
}

.m-lg {
  margin: 20px;
}

.f-w-400 {
  font-weight: 400;
}

.f-j-start {
  justify-content: flex-start;
}

.page-header {
  font-weight: 500;
}

.header-msg {
  font-weight: 800;
  font-size: 36pt;
  margin: 10px;
  padding: 0px;
}

.header-info {
  font-size: 12pt;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.btn {
  height: fit-content;
  background: none;
  outline: none;
  border-radius: 30px;
  color: var(--highlight-color-one);
  padding: 10px;
  border: 1px solid var(--highlight-color-one);
  transition: background .15s;
  font-weight: 900;
}

.btn:hover {
  background: var(--highlight-color-one);
  color: var(--text-color-three);
  cursor: pointer;
}

.btn-cancel {
  max-width: 0px;
  overflow: visible;
  border: none;
  background: none;
  color: var(--text-color-one);
  font-weight: 400;
  font-size: 16px;
}

.btn-cancel:hover {
  border: none;
  background: none;
  color: var(--highlight-color-one);
  font-weight: 900;
}

.input {
  background: none;
  color: var(--text-color-one);
  outline: none;
  border: 1px solid var(--highlight-color-one);
  border-radius: 30px;
  padding: 10px;
  font-weight: 900;
}

.input:focus {
  border-color: var(--highlight-color-two);
}

.input-small {
  width: 20px;
  text-align: center;
}

.card-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  max-width: 1000px;
  min-width: 100px;
  min-height: 100px;
  background: var(--background-color-two);
  border-radius: 5px;
}

.card-header {
  padding: 0 10px 0 10px;
  min-height: 30px;
  background: var(--background-color-three); 
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.card-content {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
}

.label {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 30px;
  font-size: 10pt;
}

.label-header {
  font-weight: 900;
  margin-bottom: 0;
  padding-bottom: 0;
}

.label-data {
  padding-top: 5px;
  margin-top: 0;
  font-weight: 600;
}

code {
  width: 100%;
  background: var(--background-color-one);
  border-radius: 5px;
  padding: 5px;
  font-weight: 500;
}

code pre {
  font-family: inherit;
}

code pre p {
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  color: var(--text-color-two);
}

code pre p span {
  color: var(--text-color-one);
  padding-right: 10px;
}

.console-container {
  display: block;
  width: 100%;
  min-height: 200px;
  max-height: 600px;
  overflow: scroll;
  background: var(--background-color-one);
  border-radius: 5px;
  padding: 5px;
  font-weight: 500;
}

.list-table {
  width: 100%;
  display: grid;
  grid-template-columns: 20px 1fr 50px 20px;
  column-gap: 10px;
  margin: 0;
  padding: 10px;
  list-style-type: none;
  background: var(--background-color-one);
  border-radius: 5px;
}

.list-table li {
  display: grid;
  grid-template-columns: subgrid;
  align-items: center;
}

.col-1 {
  grid-column: 1 / 2;
}

.col-2 {
  grid-column: 2 / 3;
}

.col-3 {
  grid-column: 3 / 4;
  justify-self: end;
}

.col-4 {
  grid-column: 4 / 5;
  justify-self: flex-end;
}

.group {
  border: 1px solid var(--background-color-one);
  border-radius: 5px;
  padding: 10px;
}